<!DOCTYPE html>
<html>
<head>
  <title>ShooseStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section>
      <div id="nav-bar">
        <div>
          <% if current_user %>
            Witaj <%= current_user.username %>.
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> or
            <%= link_to "Log in", login_path %>
          <% end %>
        </div>
      </div>
      <%= link_to "Krszysztof Bieniek", root_path, id: "logo"%>
      <ul id="menu">
        <% if current_user && current_user.admin? %>
          <li class="<%= 'active' if params[:controller]=='admin/companies' %>">
            <%= link_to "Firmy", admin_companies_path %>
          </li>
        <% end %>
        <li class="<%= 'active' if params[:controller]=='companies' %>">
          <%= link_to "Obuwie", companies_path %>
        </li>
        <li class="<%= 'active' if params[:controller]=='static_pages' && params[:acion]=="about" %>">
          <%= link_to "O nas", about_page_path %>
        </li>
        <li class="<%= 'active' if params[:controller]=='static_pages' && params[:acion]=="contact" %>">
          <%= link_to "Kontakt", contact_page_path %>
        </li>
      </ul>
    </section>
  </header>

  <section id="wrapper" class="clearfix">
    <section class="main clearfix">
      <%= yield %>
    </section>
  </section>

  <footer>
    <section>
      <h2>Slogan reklamowy naszej firmy</h2>
      <p>
        Tekst majacy na celu zachecenie klienta aby u nas kupowal.<br />
        Skoro sszedl tak nisko strony to trzeba go zachecic aby wrocil do gory.
      </p>
    </section>
  </footer
</body>
</html>
