<!DOCTYPE html>
<html>
<head>
  <title>ShooseStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section>
      <%= yield :header %>
    </section>
  </header>

  <section id="wrapper" class="clearfix">
    <%= yield :left_sidebar %>
    <%= yield :right_sidebar %>
    <section class="main">
      <%= yield %>
    </section>
  </section>

  <footer>
    <section>
      <h2>Slogan reklamowy naszej firmy</h2>
      <p>
        Tekst majacy na celu zachecenie klienta aby u nas kupowal.<br />
        Skoro sszedl tak nisko strony to trzeba go zachecic aby wrocil do gory.
      </p>
    </section>
  </footer
</body>
</html>
